<!DOCTYPE html5>
<html lang="en">
<head>
    <title>Manage Your Works</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
    <div id = "worksheet">
      
        <div class="container">
            <p class="Toplist">To do</p>
            <div class="boards"></div>
            <div class="newboard">
                add one
            </div>
         
        </div>

        <div class="container"> 
            <p class="Toplist">Doing</p>
            <div class="boards"></div>
            <div class="newboard">
                add one
            </div>
        </div>

        <div class="container"> 
            <p class="Toplist">Done</p>
            <div class="boards"></div>
            <div class="newboard">
                add one
            </div>
        </div>

        <div class="container"> 
            <p class="Toplist">Adding more</p>
        </div>
        
    </div>

    <script src="/static/js/jquery-3.3.1.min.js"></script>  
    <script src="/static/js/index.js"></script>  
</body>
</html>

