<!DOCTYPE html5>
<html lang="en">
<head>
    <title>Manage Your Works</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
    <div id = "worksheet">
      
        <div class="container">
            <p class="Toplist">To do</p>
            <div class="boards" name="todo"></div>
            <div class="newboard">add one</div>       
        </div>

        <div class="container"> 
            <p class="Toplist">Doing</p>
            <div class="boards" name="doing"></div>
            <div class="newboard">add one</div>
        </div>

        <div class="container"> 
            <p class="Toplist">Done</p>
            <div class="boards" name="done"></div>
            <div class="newboard">add one</div>
        </div>

        <div class="container"> 
            <p class="Toplist">Adding more</p>
        </div>
        
    </div>
    
    <div class="cover">
        <div class="ediDiv">
            <a class="close"> </a>
            <div class="eTitle" contenteditable="plaintext-only"></div>
            <div class="sec">
                <div class="tag"> Tags: 
                    <label id="yellow" class="radio"><input type="radio" name="tagColor" value="yellow"> yellow</label>
                    <label id="red" class="radio"><input type="radio" name="tagColor" value="red"> red  </label>
                    <label id="azure" class="radio"><input type="radio" name="tagColor" value="azure" checked="checked"> azure</label>
                </div>
                <div class="dueday">Due days : <input id="datepicker"> </div>
            </div>
            <div class ="inp">
                <h4>Descirbe :</h4>
                <div class="des"> 
                     <input class="Input_des" type="text" placeholder="add a little description here." maxlength="50">
                </div>
                <h4>detail :</h4>
                <div class="details"> 
                    <textarea  class="det1"></textarea >
                </div>
            </div>
            <div class="btn">
                <button class="delTask" type="button">Delete this</button>
            </div>
        </div>
    </div>

    <script src="/static/js/jquery-3.3.1.min.js"></script>  
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/static/js/index.js"></script>  
</body>
</html>

