<!DOCTYPE html5>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
</head>
<body>
    <div class="wrapper">
        <form action="check_login" method="post">
            {% csrf_token %}
            <h3 >User Login</h3>
            <br>
            {% if error %}
                <div class="alert alert-warning">{{ error }}</div>
            {% endif %}
            <div class="form-group">
                <div class="col-xs-12">
                    User Name : <input class="form-control" type="text" name="username" id="username"  placeholder="user name" required>
                </div>
            </div>
            <br>
            <div class="form-group ">
                <div class="col-xs-12">
                    Password : <input class="form-control" type="password" name="password" id="password" placeholder="password" required>
                </div>
            </div>
            <br>
            <div class="form-group text-center m-t-20">
                <div class="col-xs-12">
                    <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Login</button>
                </div>
            </div>
            <div class="form-group m-b-0">
                <div class="col-sm-12 text-center">
                    <p>Don't have an account already? <a href="./register" class="text-info m-l-5"><b>Create</b></a></p>
                </div>
            </div>
        </form>
    </div>
</body>
</html>

