
.wrapper{
    width:200px; 
    height: 200px; 
    position: absolute;left:0; 
    top:0; 
    right:0; 
    bottom: 0; 
    margin: 30px auto;
}

.register{
    margin-left: auto;
    margin-top: auto;
}

body{
    background-color: azure;
}